.list {
    position: absolute;
    display: grid;
    grid-template-rows: 10% repeat(auto-fill, 10%);
    grid-auto-flow: column;
    grid-auto-columns: auto;
    // grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
    top: 10%;
    height: 80%;
    width: 600px;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    li {
        text-align: center;
        margin: 5px 0;
        a {
            text-decoration: none;
        }
    }
}

.list-right {
    bottom: 0;
    right: 0;
}