footer {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

    .logo-511 {
        width: 250px;
        height: 200px;
    }
}