@use '../variables';

html, body {
    background-color: variables.$background-color;
    color: variables.$primary-text;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

.main-container {
    transition: 0.5s;
}