@use '../variables';

html, body {
    background-color: variables.$background-color;
    color: variables.$primary-text;
    font-family: "Roboto", sans-serif;
    height: 100%;
}

// .main-container {
//     flex-direction: column;
//     height: 100%;
//     opacity: 0;
//     transition: 0.5s;
//     display: none;
    
//     position: relative;
//     z-index: 1;
// }